@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-gray-200 antialiased;
}

/* Custom styles for react-datepicker in dark mode */
.react-datepicker {
  @apply bg-dark-card border-dark-border !important;
}
.react-datepicker__header {
  @apply bg-gray-700 border-b-dark-border !important;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  @apply text-gray-100 !important;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  @apply text-gray-300 !important;
}
.react-datepicker__day:hover {
  @apply bg-gray-600 !important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  @apply bg-brand-primary text-white !important;
}
.react-datepicker__day--keyboard-selected {
    @apply bg-brand-secondary text-white !important;
}
.react-datepicker__navigation-icon::before {
    @apply border-gray-300 !important;
}
